Repository junkor-1011/nextjs-css-practice-2023: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.yaml:

'*.{ts,tsx}':
  - eslint --fix
  - prettier --write
'*.{js,cjs}':
  - prettier --write
'*.{css,less,sass,scss}':
  # - stylelint --fix
  - prettier --write
'*.{json,md,yml,yaml}':
  - prettier --write

tsconfig & eslint setting
  .eslintignore
  package.json
  tsconfig.json
Due: prettier --write

format
  app/layout.tsx
  app/page.tsx
  next.config.js
  postcss.config.js
  tailwind.config.js
Due: eslint --fix, prettier --write

tailwind setup
  tailwind.config.js
Due: prettier --write

src dir
  src/app/favicon.ico
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  tailwind.config.js
Due: eslint --fix, prettier --write

install pandacss
  .eslintignore
  .gitignore
  package.json
  panda.config.ts
  pnpm-lock.yaml
  postcss.config.cjs
  src/app/globals.css
  tsconfig.json
Due: eslint --fix, prettier --write

fix: npm-scripts: panda codegen
  package.json
Due: prettier --write

add example
  src/app/page.tsx
Due: eslint --fix, prettier --write

chore: update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

prettierignore pnpm-lock
  pnpm-lock.yaml
Due: prettier --write

prettierignore pnpm-lock
  .prettierignore
Due: none

revert prettier
  pnpm-lock.yaml
Due: prettier --write

Create dependabot.yml
  .github/dependabot.yml
Due: prettier --write

Revert "Create dependabot.yml"
  .github/dependabot.yml
Due: prettier --write

eslint
  .eslintrc.cjs
Due: prettier --write

Create LICENSE
  LICENSE
Due: none

chore: update dependencies
  .prettierrc.cjs
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(depandabot): update schedule.interval
  .github/dependabot.yml
Due: prettier --write

chore: update dependencies
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Due: prettier --write
